@import '../../../utils/scss/icons';
@import '../../../utils/scss/variables';
.header {
  box-sizing: border-box;
  height: $header-height;
  min-height: $header-height;
  width: 100%;
  padding: {
    top: 0px;
    right: 15px;
    bottom: 0px;
    left: 15px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $header-background-color;
}
