@import '../../../utils/scss/variables';

.home-page {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.home-page__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: $gray;
}

.home-page__pagination {
  display: flex;
  justify-content: center;
}

.home-page__pagination__step {
  margin: 10px;
  padding: 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #028090;
  &--add {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    transform: rotate(-45deg);
  }

  &--dec {
    height: 10px;
    width: 10px;
    display: block;
    border-bottom: solid 2px white;
    border-left: solid 2px white;
    transform: rotate(45deg);
  }
}
