@import '../../../utils/scss/variables';

.home-page {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.home-page__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: $gray;
}
